In [2]:
import pandas as pd
import numpy as np
from pandas.plotting import scatter_matrix

train=pd.read_csv("train.csv")
old_transactions=pd.read_csv("cleaned_historical_transactions.csv")
new_transactions=pd.read_csv("cleaned_new_merchant_transactions.csv")

In [3]:
train

,first_active_month,card_id,feature_1,feature_2,feature_3,target
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749
...,...,...,...,...,...,...
201912,2017-09,C_ID_963962de2c,3,2,1,-2.740821
201913,2015-10,C_ID_1314773c0b,3,1,1,0.312917
201914,2017-08,C_ID_7666735b3d,4,3,0,0.093494
201915,2016-07,C_ID_73f5a0efd0,3,2,1,-4.676589
201916,2017-07,C_ID_92c9984c58,3,1,1,-1.859413

In [4]:
#No Null Values
new_transactions.isnull().values.any()

False

In [5]:
#No Duplicate Values
old_transactions[old_transactions.duplicated()]

Empty DataFrame
Columns: [authorized_flag, card_id, city_id, category_1, installments, category_3, merchant_category_id, merchant_id, month_lag, purchase_amount, purchase_date, category_2, state_id, subsector_id]
Index: []

In [6]:
print("Train\n",train.info())
print("Old_transactions\n",old_transactions.info())
print("New_transactions\n",new_transactions.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201917 entries, 0 to 201916
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   first_active_month  201917 non-null  object
 1   card_id             201917 non-null  object
 2   feature_1           201917 non-null  int64
 3   feature_2           201917 non-null  int64
 4   feature_3           201917 non-null  int64
 5   target              201917 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ MB
Train
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29112361 entries, 0 to 29112360
Data columns (total 14 columns):
 #   Column                Dtype
---  ------                -----
 0   authorized_flag       int64
 1   card_id               object
 2   city_id               int64
 3   category_1            int64
 4   installments          int64
 5   category_3            int64
 6   merchant_category_id  int64
 7   merchant_id           object
 8   month_lag             int64
 9   purchase_amount       float64
 10  purchase_date         object
 11  category_2            int64
 12  state_id              int64
 13  subsector_id          int64
dtypes: float64(1), int64(10), object(3)
memory usage: 3.0+ GB
Old_transactions
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1963031 entries, 0 to 1963030
Data columns (total 14 columns):
 #   Column                Dtype
---  ------                -----
 0   authorized_flag       int64
 1   card_id               object
 2   city_id               int64
 3   category_1            int64
 4   installments          int64
 5   category_3            int64
 6   merchant_category_id  int64
 7   merchant_id           object
 8   month_lag             int64
 9   purchase_amount       float64
 10  purchase_date         object
 11  category_2            int64
 12  state_id              int64
 13  subsector_id          int64
dtypes: float64(1), int64(10), object(3)
memory usage: 209.7+ MB
New_transactions
 None

In [7]:
old_transactions['dataset']='old'

In [8]:
old_transactions

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,dataset
0,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1,16,37,old
1,1,C_ID_4e6213e9bc,88,0,0,1,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1,16,16,old
2,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1,16,37,old
3,1,C_ID_4e6213e9bc,88,0,0,1,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1,16,34,old
4,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1,16,37,old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29112356,1,C_ID_2863d2fa95,-1,1,1,2,360,M_ID_edd92b6720,-1,-0.632706,2017-01-20 08:52:04,0,-1,34,old
29112357,1,C_ID_2863d2fa95,-1,1,1,2,360,M_ID_edd92b6720,0,-0.632706,2017-02-20 04:40:50,0,-1,34,old
29112358,1,C_ID_5c240d6e3c,3,0,0,1,278,M_ID_9cdcfe8673,0,-0.657740,2017-12-26 18:37:51,1,16,37,old
29112359,1,C_ID_5c240d6e3c,331,0,0,1,514,M_ID_1a75f94f92,-1,0.770620,2017-11-24 14:18:15,1,16,9,old
29112360,1,C_ID_5c240d6e3c,331,0,0,1,514,M_ID_1a75f94f92,-2,1.134411,2017-10-26 14:09:40,1,16,9,old

In [9]:
new_transactions['dataset']='new'

In [10]:
new_transactions

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,dataset
0,1,C_ID_415bb3a509,107,0,1,2,307,M_ID_b0c793002c,1,-0.557574,2018-03-11 14:57:36,1,9,19,new
1,1,C_ID_415bb3a509,140,0,1,2,307,M_ID_88920c89e8,1,-0.569580,2018-03-19 18:53:37,1,9,19,new
2,1,C_ID_415bb3a509,330,0,1,2,507,M_ID_ad5237ef6b,2,-0.551037,2018-04-26 14:08:44,1,9,14,new
3,1,C_ID_415bb3a509,-1,1,1,2,661,M_ID_9e84cda3b1,1,-0.671925,2018-03-07 09:43:21,0,-1,8,new
4,1,C_ID_ef55cf8d4b,-1,1,1,2,166,M_ID_3c86fa3831,1,-0.659904,2018-03-22 21:07:53,0,-1,29,new
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1963026,1,C_ID_1320dee851,142,0,0,1,309,M_ID_7754b67f3b,2,-0.701828,2018-04-06 14:36:52,3,19,21,new
1963027,1,C_ID_f112aa3381,158,0,0,1,560,M_ID_da063195b7,2,-0.694390,2018-03-07 13:19:18,1,15,34,new
1963028,1,C_ID_bd97b86450,69,0,1,2,278,M_ID_9a9ccb6544,1,-0.621031,2018-03-05 12:04:56,1,9,37,new
1963029,1,C_ID_c0513fd84f,130,0,0,1,367,M_ID_40c28d596f,1,-0.656749,2018-03-09 14:47:05,3,7,16,new
1963030,1,C_ID_a935410f8e,19,0,0,1,278,M_ID_d855771cd9,2,-0.739395,2018-04-11 07:59:46,1,9,37,new

In [11]:
transactions = pd.concat([old_transactions, new_transactions], axis=0, ignore_index=True)

In [12]:
transactions

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,dataset
0,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1,16,37,old
1,1,C_ID_4e6213e9bc,88,0,0,1,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1,16,16,old
2,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1,16,37,old
3,1,C_ID_4e6213e9bc,88,0,0,1,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1,16,34,old
4,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1,16,37,old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31075387,1,C_ID_1320dee851,142,0,0,1,309,M_ID_7754b67f3b,2,-0.701828,2018-04-06 14:36:52,3,19,21,new
31075388,1,C_ID_f112aa3381,158,0,0,1,560,M_ID_da063195b7,2,-0.694390,2018-03-07 13:19:18,1,15,34,new
31075389,1,C_ID_bd97b86450,69,0,1,2,278,M_ID_9a9ccb6544,1,-0.621031,2018-03-05 12:04:56,1,9,37,new
31075390,1,C_ID_c0513fd84f,130,0,0,1,367,M_ID_40c28d596f,1,-0.656749,2018-03-09 14:47:05,3,7,16,new
31075391,1,C_ID_a935410f8e,19,0,0,1,278,M_ID_d855771cd9,2,-0.739395,2018-04-11 07:59:46,1,9,37,new

In [13]:
#Convert to datetime
transactions['purchase_date'] = pd.to_datetime(transactions['purchase_date'])

#Extract features
transactions['purchase_year'] = transactions['purchase_date'].dt.year
transactions['purchase_month'] = transactions['purchase_date'].dt.month
transactions['purchase_day'] = transactions['purchase_date'].dt.day
transactions['purchase_weekday'] = transactions['purchase_date'].dt.weekday

In [14]:
transactions

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,dataset,purchase_year,purchase_month,purchase_day,purchase_weekday
0,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1,16,37,old,2017,6,25,6
1,1,C_ID_4e6213e9bc,88,0,0,1,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1,16,16,old,2017,7,15,5
2,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1,16,37,old,2017,8,9,2
3,1,C_ID_4e6213e9bc,88,0,0,1,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1,16,34,old,2017,9,2,5
4,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1,16,37,old,2017,3,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31075387,1,C_ID_1320dee851,142,0,0,1,309,M_ID_7754b67f3b,2,-0.701828,2018-04-06 14:36:52,3,19,21,new,2018,4,6,4
31075388,1,C_ID_f112aa3381,158,0,0,1,560,M_ID_da063195b7,2,-0.694390,2018-03-07 13:19:18,1,15,34,new,2018,3,7,2
31075389,1,C_ID_bd97b86450,69,0,1,2,278,M_ID_9a9ccb6544,1,-0.621031,2018-03-05 12:04:56,1,9,37,new,2018,3,5,0
31075390,1,C_ID_c0513fd84f,130,0,0,1,367,M_ID_40c28d596f,1,-0.656749,2018-03-09 14:47:05,3,7,16,new,2018,3,9,4
31075391,1,C_ID_a935410f8e,19,0,0,1,278,M_ID_d855771cd9,2,-0.739395,2018-04-11 07:59:46,1,9,37,new,2018,4,11,2

In [15]:
transactions=transactions.drop('merchant_id',axis=1)

In [16]:
transactions=transactions.drop('city_id',axis=1)

In [17]:
transactions=transactions.drop('state_id',axis=1)

In [18]:
transactions

,authorized_flag,card_id,category_1,installments,category_3,merchant_category_id,month_lag,purchase_amount,purchase_date,category_2,subsector_id,dataset,purchase_year,purchase_month,purchase_day,purchase_weekday
0,1,C_ID_4e6213e9bc,0,0,1,80,-8,-0.703331,2017-06-25 15:33:07,1,37,old,2017,6,25,6
1,1,C_ID_4e6213e9bc,0,0,1,367,-7,-0.733128,2017-07-15 12:10:45,1,16,old,2017,7,15,5
2,1,C_ID_4e6213e9bc,0,0,1,80,-6,-0.720386,2017-08-09 22:04:29,1,37,old,2017,8,9,2
3,1,C_ID_4e6213e9bc,0,0,1,560,-5,-0.735352,2017-09-02 10:06:26,1,34,old,2017,9,2,5
4,1,C_ID_4e6213e9bc,0,0,1,80,-11,-0.722865,2017-03-10 01:14:19,1,37,old,2017,3,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31075387,1,C_ID_1320dee851,0,0,1,309,2,-0.701828,2018-04-06 14:36:52,3,21,new,2018,4,6,4
31075388,1,C_ID_f112aa3381,0,0,1,560,2,-0.694390,2018-03-07 13:19:18,1,34,new,2018,3,7,2
31075389,1,C_ID_bd97b86450,0,1,2,278,1,-0.621031,2018-03-05 12:04:56,1,37,new,2018,3,5,0
31075390,1,C_ID_c0513fd84f,0,0,1,367,1,-0.656749,2018-03-09 14:47:05,3,16,new,2018,3,9,4
31075391,1,C_ID_a935410f8e,0,0,1,278,2,-0.739395,2018-04-11 07:59:46,1,37,new,2018,4,11,2

In [19]:
transactions['card_id'] = transactions['card_id'].astype(str)
print(transactions['card_id'].dtype)  #Should now be 'string' or 'object'
print(transactions['card_id'].head())

object
0    C_ID_4e6213e9bc
1    C_ID_4e6213e9bc
2    C_ID_4e6213e9bc
3    C_ID_4e6213e9bc
4    C_ID_4e6213e9bc
Name: card_id, dtype: object

In [20]:
transactions.drop('dataset',axis=1,inplace=True)

In [21]:
transactions

,authorized_flag,card_id,category_1,installments,category_3,merchant_category_id,month_lag,purchase_amount,purchase_date,category_2,subsector_id,purchase_year,purchase_month,purchase_day,purchase_weekday
0,1,C_ID_4e6213e9bc,0,0,1,80,-8,-0.703331,2017-06-25 15:33:07,1,37,2017,6,25,6
1,1,C_ID_4e6213e9bc,0,0,1,367,-7,-0.733128,2017-07-15 12:10:45,1,16,2017,7,15,5
2,1,C_ID_4e6213e9bc,0,0,1,80,-6,-0.720386,2017-08-09 22:04:29,1,37,2017,8,9,2
3,1,C_ID_4e6213e9bc,0,0,1,560,-5,-0.735352,2017-09-02 10:06:26,1,34,2017,9,2,5
4,1,C_ID_4e6213e9bc,0,0,1,80,-11,-0.722865,2017-03-10 01:14:19,1,37,2017,3,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31075387,1,C_ID_1320dee851,0,0,1,309,2,-0.701828,2018-04-06 14:36:52,3,21,2018,4,6,4
31075388,1,C_ID_f112aa3381,0,0,1,560,2,-0.694390,2018-03-07 13:19:18,1,34,2018,3,7,2
31075389,1,C_ID_bd97b86450,0,1,2,278,1,-0.621031,2018-03-05 12:04:56,1,37,2018,3,5,0
31075390,1,C_ID_c0513fd84f,0,0,1,367,1,-0.656749,2018-03-09 14:47:05,3,16,2018,3,9,4
31075391,1,C_ID_a935410f8e,0,0,1,278,2,-0.739395,2018-04-11 07:59:46,1,37,2018,4,11,2

In [22]:
agg_features = transactions.groupby('card_id').agg({
    'purchase_amount': ['sum', 'mean', 'max', 'min', 'std'],  # Spending behavior
    'installments': ['sum', 'mean'],  # Installment usage
    'authorized_flag': ['sum'],  # Total authorized transactions
    'category_1': ['sum'],  # Transactions in category_1
    'category_2': ['nunique'],  # Unique category_2 values
    'category_3': ['nunique'],  # Unique category_3 values
    'merchant_category_id': ['nunique'],  # Unique merchant categories
    'subsector_id': ['nunique'],  # Unique economic subsectors
    'month_lag': ['min', 'max'],  # Recency of transactions
    'purchase_date':['min','max'],
}).reset_index()
agg_features['spending_frequency'] = transactions.groupby('card_id').size()
agg_features['avg_spend_per_transaction'] = agg_features['purchase_amount', 'sum'] / agg_features['spending_frequency']
agg_features['days_between_first_last'] = (agg_features['purchase_date', 'max'] - agg_features['purchase_date', 'min']).dt.days
agg_features['transaction_velocity'] = agg_features['spending_frequency'] / agg_features['days_between_first_last']

In [23]:
agg_features

                card_id purchase_amount                                \
                                    sum      mean       max       min
0       C_ID_00007093c1      -78.173565 -0.517706  1.507069 -0.728876
1       C_ID_0001238066      -87.297257 -0.585888  0.768095 -0.740897
2       C_ID_0001506ef0      -36.049233 -0.530136  1.493545 -0.740491
3       C_ID_0001793786      -37.015633 -0.149861  4.554145 -0.745405
4       C_ID_000183fdda      -75.428717 -0.486637  2.764788 -0.737892
...                 ...             ...       ...       ...       ...
325535  C_ID_ffff1d9928       -9.938024 -0.621127  0.004418 -0.746893
325536  C_ID_ffff579d3a      -80.957030 -0.703974 -0.491457 -0.739244
325537  C_ID_ffff756266       -5.127842 -0.205114  1.206403 -0.746156
325538  C_ID_ffff828181     -125.063404 -0.631633  0.109528 -0.745405
325539  C_ID_fffffd5772      -60.160744 -0.691503 -0.311139 -0.745405

                 installments           authorized_flag category_1  ...  \
             std          sum      mean             sum        sum  ...
0       0.296638          194  1.284768             116         28  ...
1       0.186974          240  1.610738             146          4  ...
2       0.466421            1  0.014706              64          0  ...
3       0.850432            5  0.020243             220          2  ...
4       0.508951          280  1.806452             148          4  ...
...          ...          ...       ...             ...        ...  ...
325535  0.216340           27  1.687500              13          3  ...
325536  0.042034            3  0.026087             100          0  ...
325537  0.520700           79  3.160000              15          3  ...
325538  0.108552          238  1.202020             174         11  ...
325539  0.075315           90  1.034483              78         33  ...

       merchant_category_id subsector_id month_lag           purchase_date  \
                    nunique      nunique       min max                 min
0                        19           13       -12   2 2017-02-14 14:00:43
1                        35           19        -5   2 2017-09-28 22:25:14
2                        20           12       -13   1 2017-01-14 16:16:01
3                        57           25        -9   2 2017-01-21 10:15:21
4                        38           21        -6   2 2017-08-07 09:49:14
...                     ...          ...       ...  ..                 ...
325535                    9            8        -4   2 2017-10-26 00:00:00
325536                   28           15        -6   1 2017-08-08 12:33:43
325537                   14           10       -13   2 2017-01-24 20:00:38
325538                   45           24       -13   2 2017-01-05 15:27:33
325539                   15           10        -6   1 2017-08-21 18:56:01

                           spending_frequency avg_spend_per_transaction  \
                       max
0      2018-04-09 16:23:59                NaN                       NaN
1      2018-04-30 19:57:30                NaN                       NaN
2      2018-03-22 09:14:30                NaN                       NaN
3      2017-12-31 17:35:56                NaN                       NaN
4      2018-04-30 14:59:53                NaN                       NaN
...                    ...                ...                       ...
325535 2018-04-20 10:28:14                NaN                       NaN
325536 2018-03-21 08:55:34                NaN                       NaN
325537 2018-04-10 07:43:43                NaN                       NaN
325538 2018-04-29 18:59:29                NaN                       NaN
325539 2018-03-27 13:45:10                NaN                       NaN

       days_between_first_last transaction_velocity

0                          419                  NaN
1                          213                  NaN
2                          431                  NaN
3                          344                  NaN
4                          266                  NaN
...                        ...                  ...
325535                     176                  NaN
325536                     224                  NaN
325537                     440                  NaN
325538                     479                  NaN
325539                     217                  NaN

[325540 rows x 22 columns]

In [24]:
agg_features.rename(columns={'authorized_flag':'num_authorized_transactions'},inplace=True)
agg_features.rename(columns={'installments':'num_installment_transactions'},inplace=True)

In [25]:
agg_features

                card_id purchase_amount                                \
                                    sum      mean       max       min
0       C_ID_00007093c1      -78.173565 -0.517706  1.507069 -0.728876
1       C_ID_0001238066      -87.297257 -0.585888  0.768095 -0.740897
2       C_ID_0001506ef0      -36.049233 -0.530136  1.493545 -0.740491
3       C_ID_0001793786      -37.015633 -0.149861  4.554145 -0.745405
4       C_ID_000183fdda      -75.428717 -0.486637  2.764788 -0.737892
...                 ...             ...       ...       ...       ...
325535  C_ID_ffff1d9928       -9.938024 -0.621127  0.004418 -0.746893
325536  C_ID_ffff579d3a      -80.957030 -0.703974 -0.491457 -0.739244
325537  C_ID_ffff756266       -5.127842 -0.205114  1.206403 -0.746156
325538  C_ID_ffff828181     -125.063404 -0.631633  0.109528 -0.745405
325539  C_ID_fffffd5772      -60.160744 -0.691503 -0.311139 -0.745405

                 num_installment_transactions            \
             std                          sum      mean
0       0.296638                          194  1.284768
1       0.186974                          240  1.610738
2       0.466421                            1  0.014706
3       0.850432                            5  0.020243
4       0.508951                          280  1.806452
...          ...                          ...       ...
325535  0.216340                           27  1.687500
325536  0.042034                            3  0.026087
325537  0.520700                           79  3.160000
325538  0.108552                          238  1.202020
325539  0.075315                           90  1.034483

       num_authorized_transactions category_1  ... merchant_category_id  \
                               sum        sum  ...              nunique
0                              116         28  ...                   19
1                              146          4  ...                   35
2                               64          0  ...                   20
3                              220          2  ...                   57
4                              148          4  ...                   38
...                            ...        ...  ...                  ...
325535                          13          3  ...                    9
325536                         100          0  ...                   28
325537                          15          3  ...                   14
325538                         174         11  ...                   45
325539                          78         33  ...                   15

       subsector_id month_lag           purchase_date                      \
            nunique       min max                 min                 max
0                13       -12   2 2017-02-14 14:00:43 2018-04-09 16:23:59
1                19        -5   2 2017-09-28 22:25:14 2018-04-30 19:57:30
2                12       -13   1 2017-01-14 16:16:01 2018-03-22 09:14:30
3                25        -9   2 2017-01-21 10:15:21 2017-12-31 17:35:56
4                21        -6   2 2017-08-07 09:49:14 2018-04-30 14:59:53
...             ...       ...  ..                 ...                 ...
325535            8        -4   2 2017-10-26 00:00:00 2018-04-20 10:28:14
325536           15        -6   1 2017-08-08 12:33:43 2018-03-21 08:55:34
325537           10       -13   2 2017-01-24 20:00:38 2018-04-10 07:43:43
325538           24       -13   2 2017-01-05 15:27:33 2018-04-29 18:59:29
325539           10        -6   1 2017-08-21 18:56:01 2018-03-27 13:45:10

       spending_frequency avg_spend_per_transaction days_between_first_last  \

0                     NaN                       NaN                     419
1                     NaN                       NaN                     213
2                     NaN                       NaN                     431
3                     NaN                       NaN                     344
4                     NaN                       NaN                     266
...                   ...                       ...                     ...
325535                NaN                       NaN                     176
325536                NaN                       NaN                     224
325537                NaN                       NaN                     440
325538                NaN                       NaN                     479
325539                NaN                       NaN                     217

       transaction_velocity

0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
...                     ...
325535                  NaN
325536                  NaN
325537                  NaN
325538                  NaN
325539                  NaN

[325540 rows x 22 columns]

In [26]:
agg_features.dtypes

card_id                                          object
purchase_amount               sum               float64
                              mean              float64
                              max               float64
                              min               float64
                              std               float64
num_installment_transactions  sum                 int64
                              mean              float64
num_authorized_transactions   sum                 int64
category_1                    sum                 int64
category_2                    nunique             int64
category_3                    nunique             int64
merchant_category_id          nunique             int64
subsector_id                  nunique             int64
month_lag                     min                 int64
                              max                 int64
purchase_date                 min        datetime64[ns]
                              max        datetime64[ns]
spending_frequency                              float64
avg_spend_per_transaction                       float64
days_between_first_last                           int64
transaction_velocity                            float64
dtype: object

In [27]:
# Flatten column names if they are multi-indexed after aggregation
agg_features.columns = ['_'.join(col) if isinstance(col, tuple) else col for col in agg_features.columns]

# Reset index to make 'card_id' a column
agg_features.reset_index(inplace=True)
agg_features.rename(columns={'card_id_':'card_id'},inplace=True)
agg_features

,index,card_id,purchase_amount_sum,purchase_amount_mean,purchase_amount_max,purchase_amount_min,purchase_amount_std,num_installment_transactions_sum,num_installment_transactions_mean,num_authorized_transactions_sum,...,merchant_category_id_nunique,subsector_id_nunique,month_lag_min,month_lag_max,purchase_date_min,purchase_date_max,spending_frequency_,avg_spend_per_transaction_,days_between_first_last_,transaction_velocity_
0,0,C_ID_00007093c1,-78.173565,-0.517706,1.507069,-0.728876,0.296638,194,1.284768,116,...,19,13,-12,2,2017-02-14 14:00:43,2018-04-09 16:23:59,NaN,NaN,419,NaN
1,1,C_ID_0001238066,-87.297257,-0.585888,0.768095,-0.740897,0.186974,240,1.610738,146,...,35,19,-5,2,2017-09-28 22:25:14,2018-04-30 19:57:30,NaN,NaN,213,NaN
2,2,C_ID_0001506ef0,-36.049233,-0.530136,1.493545,-0.740491,0.466421,1,0.014706,64,...,20,12,-13,1,2017-01-14 16:16:01,2018-03-22 09:14:30,NaN,NaN,431,NaN
3,3,C_ID_0001793786,-37.015633,-0.149861,4.554145,-0.745405,0.850432,5,0.020243,220,...,57,25,-9,2,2017-01-21 10:15:21,2017-12-31 17:35:56,NaN,NaN,344,NaN
4,4,C_ID_000183fdda,-75.428717,-0.486637,2.764788,-0.737892,0.508951,280,1.806452,148,...,38,21,-6,2,2017-08-07 09:49:14,2018-04-30 14:59:53,NaN,NaN,266,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325535,325535,C_ID_ffff1d9928,-9.938024,-0.621127,0.004418,-0.746893,0.216340,27,1.687500,13,...,9,8,-4,2,2017-10-26 00:00:00,2018-04-20 10:28:14,NaN,NaN,176,NaN
325536,325536,C_ID_ffff579d3a,-80.957030,-0.703974,-0.491457,-0.739244,0.042034,3,0.026087,100,...,28,15,-6,1,2017-08-08 12:33:43,2018-03-21 08:55:34,NaN,NaN,224,NaN
325537,325537,C_ID_ffff756266,-5.127842,-0.205114,1.206403,-0.746156,0.520700,79,3.160000,15,...,14,10,-13,2,2017-01-24 20:00:38,2018-04-10 07:43:43,NaN,NaN,440,NaN
325538,325538,C_ID_ffff828181,-125.063404,-0.631633,0.109528,-0.745405,0.108552,238,1.202020,174,...,45,24,-13,2,2017-01-05 15:27:33,2018-04-29 18:59:29,NaN,NaN,479,NaN
325539,325539,C_ID_fffffd5772,-60.160744,-0.691503,-0.311139,-0.745405,0.075315,90,1.034483,78,...,15,10,-6,1,2017-08-21 18:56:01,2018-03-27 13:45:10,NaN,NaN,217,NaN

In [28]:
agg_features=agg_features.drop(labels=['purchase_date_min','purchase_date_max'],axis=1)

In [29]:
agg_features.dtypes

index                                  int64
card_id                               object
purchase_amount_sum                  float64
purchase_amount_mean                 float64
purchase_amount_max                  float64
purchase_amount_min                  float64
purchase_amount_std                  float64
num_installment_transactions_sum       int64
num_installment_transactions_mean    float64
num_authorized_transactions_sum        int64
category_1_sum                         int64
category_2_nunique                     int64
category_3_nunique                     int64
merchant_category_id_nunique           int64
subsector_id_nunique                   int64
month_lag_min                          int64
month_lag_max                          int64
spending_frequency_                  float64
avg_spend_per_transaction_           float64
days_between_first_last_               int64
transaction_velocity_                float64
dtype: object

In [30]:
import pandas as pd
from datetime import datetime

# Convert first_active_month to datetime
train['first_active_month'] = pd.to_datetime(train['first_active_month'])

# Compute account age in months
current_date = datetime.today()
train['account_age_months'] = (current_date.year - train['first_active_month'].dt.year) * 12 + \
                              (current_date.month - train['first_active_month'].dt.month)

In [31]:
train

,first_active_month,card_id,feature_1,feature_2,feature_3,target,account_age_months
0,2017-06-01,C_ID_92a2005557,5,2,1,-0.820283,93
1,2017-01-01,C_ID_3d0044924f,4,1,0,0.392913,98
2,2016-08-01,C_ID_d639edf6cd,2,2,0,0.688056,103
3,2017-09-01,C_ID_186d6a6901,4,3,0,0.142495,90
4,2017-11-01,C_ID_cdbd2c0db2,1,3,0,-0.159749,88
...,...,...,...,...,...,...,...
201912,2017-09-01,C_ID_963962de2c,3,2,1,-2.740821,90
201913,2015-10-01,C_ID_1314773c0b,3,1,1,0.312917,113
201914,2017-08-01,C_ID_7666735b3d,4,3,0,0.093494,91
201915,2016-07-01,C_ID_73f5a0efd0,3,2,1,-4.676589,104
201916,2017-07-01,C_ID_92c9984c58,3,1,1,-1.859413,92

In [32]:
train = train.merge(agg_features, on='card_id', how='left')
train.fillna(0, inplace=True)
train

,first_active_month,card_id,feature_1,feature_2,feature_3,target,account_age_months,index,purchase_amount_sum,purchase_amount_mean,...,category_2_nunique,category_3_nunique,merchant_category_id_nunique,subsector_id_nunique,month_lag_min,month_lag_max,spending_frequency_,avg_spend_per_transaction_,days_between_first_last_,transaction_velocity_
0,2017-06-01,C_ID_92a2005557,5,2,1,-0.820283,93,186538,-179.212942,-0.633261,...,2,2,46,21,-8,2,0.0,0.0,305,0.0
1,2017-01-01,C_ID_3d0044924f,4,1,0,0.392913,98,77733,-214.362071,-0.602141,...,2,3,58,24,-12,2,0.0,0.0,447,0.0
2,2016-08-01,C_ID_d639edf6cd,2,2,0,0.688056,103,272262,-29.867717,-0.678812,...,2,1,9,8,-13,2,0.0,0.0,472,0.0
3,2017-09-01,C_ID_186d6a6901,4,3,0,0.142495,90,30930,-54.145736,-0.644592,...,3,3,28,15,-5,2,0.0,0.0,203,0.0
4,2017-11-01,C_ID_cdbd2c0db2,1,3,0,-0.159749,88,261467,-68.613893,-0.405999,...,5,3,37,19,-3,2,0.0,0.0,167,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201912,2017-09-01,C_ID_963962de2c,3,2,1,-2.740821,90,191019,-33.318796,-0.708911,...,2,2,11,10,-5,1,0.0,0.0,184,0.0
201913,2015-10-01,C_ID_1314773c0b,3,1,1,0.312917,113,24177,-34.176824,-0.712017,...,1,2,19,11,-13,1,0.0,0.0,438,0.0
201914,2017-08-01,C_ID_7666735b3d,4,3,0,0.093494,91,150671,-33.911276,-0.376792,...,3,3,26,18,-6,1,0.0,0.0,216,0.0
201915,2016-07-01,C_ID_73f5a0efd0,3,2,1,-4.676589,104,147549,-15.958697,-0.514797,...,1,1,14,10,-9,2,0.0,0.0,332,0.0
201916,2017-07-01,C_ID_92c9984c58,3,1,1,-1.859413,92,186764,-86.617938,-0.609985,...,3,3,21,14,-7,2,0.0,0.0,298,0.0

In [33]:
train.dtypes

first_active_month                   datetime64[ns]
card_id                                      object
feature_1                                     int64
feature_2                                     int64
feature_3                                     int64
target                                      float64
account_age_months                            int32
index                                         int64
purchase_amount_sum                         float64
purchase_amount_mean                        float64
purchase_amount_max                         float64
purchase_amount_min                         float64
purchase_amount_std                         float64
num_installment_transactions_sum              int64
num_installment_transactions_mean           float64
num_authorized_transactions_sum               int64
category_1_sum                                int64
category_2_nunique                            int64
category_3_nunique                            int64
merchant_category_id_nunique                  int64
subsector_id_nunique                          int64
month_lag_min                                 int64
month_lag_max                                 int64
spending_frequency_                         float64
avg_spend_per_transaction_                  float64
days_between_first_last_                      int64
transaction_velocity_                       float64
dtype: object

In [ ]:
# train=train.drop(['first_active_month'],axis=1)

In [ ]:
# from sklearn.preprocessing import MinMaxScaler

# # 1. Select Numerical Features
# numerical_features = train.select_dtypes(include=['number']).columns.tolist()

# # 3. Create a Min-Max Scaler
# scaler = MinMaxScaler()

# # 4. Fit and Transform the Numerical Features
# train[numerical_features] = scaler.fit_transform(train[numerical_features])

In [40]:
from sklearn.model_selection import train_test_split
X=train.drop(columns=['card_id','target','first_active_month'])
Y=train['target']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

print(f"Training Set Size: {X_train.shape}")
print(f"Testing Set Size: {X_test.shape}")

Training Set Size: (161533, 24)
Testing Set Size: (40384, 24)

In [41]:
X.dtypes

feature_1                              int64
feature_2                              int64
feature_3                              int64
account_age_months                     int32
index                                  int64
purchase_amount_sum                  float64
purchase_amount_mean                 float64
purchase_amount_max                  float64
purchase_amount_min                  float64
purchase_amount_std                  float64
num_installment_transactions_sum       int64
num_installment_transactions_mean    float64
num_authorized_transactions_sum        int64
category_1_sum                         int64
category_2_nunique                     int64
category_3_nunique                     int64
merchant_category_id_nunique           int64
subsector_id_nunique                   int64
month_lag_min                          int64
month_lag_max                          int64
spending_frequency_                  float64
avg_spend_per_transaction_           float64
days_between_first_last_               int64
transaction_velocity_                float64
dtype: object

In [42]:
import lightgbm as lgb
from sklearn.model_selection import KFold
from sklearn.feature_selection import RFECV

# define basic model
lgb_model = lgb.LGBMRegressor(random_state=42)
kf = KFold(n_splits=5,shuffle=True,random_state=42)
rfe_selector=RFECV(estimator=lgb_model,cv=kf,step=1,scoring='neg_root_mean_squared_error')
rfe_selector=rfe_selector.fit(X=X,y=Y)

#using bayesian optimisation for large scale datasets using hyperopt

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001880 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3029
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 21
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001290 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3029
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 21
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001240 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3029
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 21
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001581 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3029
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 21
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001567 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3027
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 20
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001351 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3022
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 19
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001077 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3015
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 18
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001031 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3011
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 17
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001015 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3005
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 16
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001038 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2970
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 15
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000815 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2715
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 14
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000857 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2709
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 13
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000942 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2454
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 12
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000673 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2364
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 11
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000699 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2109
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 10
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000581 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1854
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 9
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000580 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1840
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 8
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000473 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1585
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 7
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000568 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1330
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 6
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000559 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1075
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 5
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000487 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 820
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 4
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000560 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 746
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 3
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000414 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 491
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 2
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000548 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 255
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 1
[LightGBM] [Info] Start training from score -0.392633
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001675 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3031
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 21
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001530 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3031
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 21
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001636 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3031
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 21
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001571 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3031
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 21
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001339 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3026
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 20
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001307 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3024
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 19
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001133 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3020
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 18
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000990 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3013
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 17
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001194 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3007
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 16
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001249 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2972
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 15
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001119 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2717
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 14
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000928 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2711
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 13
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000690 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2456
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 12
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000725 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2201
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 11
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000853 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1946
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 10
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000603 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1855
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 9
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000547 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1600
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 8
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000481 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1586
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 7
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000517 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1331
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 6
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000567 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1076
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 5
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000444 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 821
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 4
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000510 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 747
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 3
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000602 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 492
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 2
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000435 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 255
[LightGBM] [Info] Number of data points in the train set: 161533, number of used features: 1
[LightGBM] [Info] Start training from score -0.396044
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001285 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 3029
[LightGBM] [Info] Number of data points in the train set: 161534, number of used features: 21
[LightGBM] [Info] Start training from score -0.385511

In [43]:
from hyperopt import hp, fmin, tpe, Trials
import numpy as np
from sklearn.model_selection import cross_val_score

# Define search space for LightGBM
space = {
    'num_leaves': hp.quniform('num_leaves', 20, 150, 1),
    'max_depth': hp.quniform('max_depth', 3, 12, 1),
    'learning_rate': hp.loguniform('learning_rate', -5, -1),  # 0.0067 to 0.37
    'feature_fraction': hp.uniform('feature_fraction', 0.5, 1.0),
    'min_child_samples': hp.quniform('min_child_samples', 10, 100, 1)
}

def objective(params):
    # Convert floats to ints where needed
    params = {
        'num_leaves': int(params['num_leaves']),
        'max_depth': int(params['max_depth']),
        'min_child_samples': int(params['min_child_samples']),
        **{k: v for k, v in params.items() 
           if k not in ['num_leaves', 'max_depth', 'min_child_samples']}
    }
    
    # Train with selected features from RFE
    X_selected = rfe_selector.transform(X)
    model = lgb.LGBMRegressor(**params, random_state=42)
    
    # Cross-validate (using the same KFold splits)
    scores = -cross_val_score(
        model, X_selected, y, cv=kf, 
        scoring='neg_mean_squared_error', n_jobs=-1
    )
    return np.mean(scores)  # Minimize RMSE

trials = Trials()
best = fmin(fn=objective, space=space, algo=tpe.suggest, max_evals=50, trials=trials)

  0%|          | 0/50 [00:00<?, ?trial/s, best loss=?]

job exception: name 'cross_val_score' is not defined

  0%|          | 0/50 [00:00<?, ?trial/s, best loss=?]

NameError: name 'cross_val_score' is not defined

In [ ]:
# Run optimization
import lightgbm as lgb
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
import numpy as np

n_folds = 5
kf = KFold(n_splits=n_folds, shuffle=True, random_state=42)

params = {
    'objective': 'regression',
    'metric': 'rmse',
    'boosting_type': 'gbdt',
    'learning_rate': 0.01,
    'num_leaves': 31,
    'feature_fraction': 0.8,
    'subsample': 0.8
}

scores = []
for train_idx, val_idx in kf.split(X_train):
    X_train_fold, X_val_fold = X_train.iloc[train_idx], X_train.iloc[val_idx]
    y_train_fold, y_val_fold = y_train.iloc[train_idx], y_train.iloc[val_idx]
    
    lgb_train = lgb.Dataset(X_train_fold, y_train_fold)
    lgb_val = lgb.Dataset(X_val_fold, y_val_fold)
    
    model = lgb.train(params, lgb_train, num_boost_round=1000, 
                      valid_sets=[lgb_train, lgb_val], 
                      early_stopping_rounds=50, verbose_eval=100)
    
    y_pred = model.predict(X_val_fold, num_iteration=model.best_iteration)
    rmse = np.sqrt(mean_squared_error(y_val_fold, y_pred))
    scores.append(rmse)

print(f"Average RMSE: {np.mean(scores):.4f} (+/- {np.std(scores):.4f})")

In [ ]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt

dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

params= {
    "objective":"reg:squarederror",
    "learning_rate":0.01,   # Step size per iteration
    "max_depth":6,          # Depth of trees
}

cv_results = xgb.cv(
    params,
    dtrain,
    num_boost_round=1000,
    nfold=5,
    early_stopping_rounds=50,
    metrics=["rmse", "mae"],
    seed=42,
    verbose_eval=100
)

# Print the best number of rounds and the corresponding scores
print(f"Best number of rounds: {len(cv_results)}")
print(f"Best RMSE: {cv_results['test-rmse-mean'].min():.4f} (+/- {cv_results['test-rmse-std'].min():.4f})")
print(f"Best MAE: {cv_results['test-mae-mean'].min():.4f} (+/- {cv_results['test-mae-std'].min():.4f})")

# Train the final model using the best number of rounds
best_model = xgb.train(params, dtrain, num_boost_round=len(cv_results))

# Make predictions on test data
y_pred = best_model.predict(dtest)

# Evaluate model performance
rmse = mean_squared_error(y_test, y_pred, squared=False)
mae = mean_absolute_error(y_test, y_pred)

print(f'Test RMSE: {rmse:.4f}')
print(f'Test MAE: {mae:.4f}')

feature_importance = best_model.get_score(importance_type='weight')
sorted_importance = sorted(feature_importance.items(), key=lambda x: x[1], reverse=True)

# Plot feature importance
plt.figure(figsize=(10, 6))
plt.bar(range(len(sorted_importance)), [val[1] for val in sorted_importance])
plt.xticks(range(len(sorted_importance)), [val[0] for val in sorted_importance], rotation=90)
plt.title('Feature Importance')
plt.tight_layout()
plt.show()

In [ ]:
# import xgboost as xgb
# from sklearn.metrics import mean_squared_error, mean_absolute_error
# from sklearn.model_selection import cross_val_score

# dtrain = xgb.DMatrix(X_train, label=y_train)
# dtest = xgb.DMatrix(X_test, label=y_test)

# params= {
#     "objective":"reg:squarederror",
#     "n_estimators":1000,     # Number of trees
#     "learning_rate":0.01,   # Step size per iteration
#     "max_depth":6,          # Depth of trees
# }

# cv_results = xgb.cv(
#     params,
#     dtrain,
#     num_boost_round=1000,
#     nfold=5,
#     early_stopping_rounds=50,
#     metrics=["rmse", "mae"],
#     seed=42,
#     verbose_eval=100
# )

# # Print the best number of rounds and the corresponding scores
# print(f"Best number of rounds: {len(cv_results)}")
# print(f"Best RMSE: {cv_results['test-rmse-mean'].min():.4f} (+/- {cv_results['test-rmse-std'].min():.4f})")
# print(f"Best MAE: {cv_results['test-mae-mean'].min():.4f} (+/- {cv_results['test-mae-std'].min():.4f})")

# # Train the final model using the best number of rounds
# best_model = xgb.train(params, dtrain, num_boost_round=len(cv_results))

# # Make predictions on test data
# y_pred = best_model.predict(dtest)

# # Evaluate model performance
# rmse = mean_squared_error(y_test, y_pred, squared=False)
# mae = mean_absolute_error(y_test, y_pred)

# print(f'Test RMSE: {rmse:.4f}')
# print(f'Test MAE: {mae:.4f}')

In [ ]:
print(train['target'].std())