In [140]:
import pandas as pd
import numpy as np

train=pd.read_csv("train.csv")
old_transactions=pd.read_csv("cleaned_historical_transactions.csv")
new_transactions=pd.read_csv("cleaned_new_merchant_transactions.csv")

In [141]:
train

,first_active_month,card_id,feature_1,feature_2,feature_3,target
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749
...,...,...,...,...,...,...
201912,2017-09,C_ID_963962de2c,3,2,1,-2.740821
201913,2015-10,C_ID_1314773c0b,3,1,1,0.312917
201914,2017-08,C_ID_7666735b3d,4,3,0,0.093494
201915,2016-07,C_ID_73f5a0efd0,3,2,1,-4.676589
201916,2017-07,C_ID_92c9984c58,3,1,1,-1.859413

In [142]:
old_transactions

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1,16,37
1,1,C_ID_4e6213e9bc,88,0,0,1,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1,16,16
2,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1,16,37
3,1,C_ID_4e6213e9bc,88,0,0,1,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1,16,34
4,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1,16,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29112356,1,C_ID_2863d2fa95,-1,1,1,2,360,M_ID_edd92b6720,-1,-0.632706,2017-01-20 08:52:04,0,-1,34
29112357,1,C_ID_2863d2fa95,-1,1,1,2,360,M_ID_edd92b6720,0,-0.632706,2017-02-20 04:40:50,0,-1,34
29112358,1,C_ID_5c240d6e3c,3,0,0,1,278,M_ID_9cdcfe8673,0,-0.657740,2017-12-26 18:37:51,1,16,37
29112359,1,C_ID_5c240d6e3c,331,0,0,1,514,M_ID_1a75f94f92,-1,0.770620,2017-11-24 14:18:15,1,16,9
29112360,1,C_ID_5c240d6e3c,331,0,0,1,514,M_ID_1a75f94f92,-2,1.134411,2017-10-26 14:09:40,1,16,9

In [143]:
new_transactions

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,1,C_ID_415bb3a509,107,0,1,2,307,M_ID_b0c793002c,1,-0.557574,2018-03-11 14:57:36,1,9,19
1,1,C_ID_415bb3a509,140,0,1,2,307,M_ID_88920c89e8,1,-0.569580,2018-03-19 18:53:37,1,9,19
2,1,C_ID_415bb3a509,330,0,1,2,507,M_ID_ad5237ef6b,2,-0.551037,2018-04-26 14:08:44,1,9,14
3,1,C_ID_415bb3a509,-1,1,1,2,661,M_ID_9e84cda3b1,1,-0.671925,2018-03-07 09:43:21,0,-1,8
4,1,C_ID_ef55cf8d4b,-1,1,1,2,166,M_ID_3c86fa3831,1,-0.659904,2018-03-22 21:07:53,0,-1,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1963026,1,C_ID_1320dee851,142,0,0,1,309,M_ID_7754b67f3b,2,-0.701828,2018-04-06 14:36:52,3,19,21
1963027,1,C_ID_f112aa3381,158,0,0,1,560,M_ID_da063195b7,2,-0.694390,2018-03-07 13:19:18,1,15,34
1963028,1,C_ID_bd97b86450,69,0,1,2,278,M_ID_9a9ccb6544,1,-0.621031,2018-03-05 12:04:56,1,9,37
1963029,1,C_ID_c0513fd84f,130,0,0,1,367,M_ID_40c28d596f,1,-0.656749,2018-03-09 14:47:05,3,7,16
1963030,1,C_ID_a935410f8e,19,0,0,1,278,M_ID_d855771cd9,2,-0.739395,2018-04-11 07:59:46,1,9,37

In [144]:
train

,first_active_month,card_id,feature_1,feature_2,feature_3,target
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749
...,...,...,...,...,...,...
201912,2017-09,C_ID_963962de2c,3,2,1,-2.740821
201913,2015-10,C_ID_1314773c0b,3,1,1,0.312917
201914,2017-08,C_ID_7666735b3d,4,3,0,0.093494
201915,2016-07,C_ID_73f5a0efd0,3,2,1,-4.676589
201916,2017-07,C_ID_92c9984c58,3,1,1,-1.859413

In [145]:
#No Null Values
new_transactions.isnull().values.any()

False

In [146]:
#No Duplicate Values
old_transactions[old_transactions.duplicated()]

Empty DataFrame
Columns: [authorized_flag, card_id, city_id, category_1, installments, category_3, merchant_category_id, merchant_id, month_lag, purchase_amount, purchase_date, category_2, state_id, subsector_id]
Index: []

In [147]:
print("Train\n",train.info())
print("Old_transactions\n",old_transactions.info())
print("New_transactions\n",new_transactions.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201917 entries, 0 to 201916
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   first_active_month  201917 non-null  object
 1   card_id             201917 non-null  object
 2   feature_1           201917 non-null  int64
 3   feature_2           201917 non-null  int64
 4   feature_3           201917 non-null  int64
 5   target              201917 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ MB
Train
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29112361 entries, 0 to 29112360
Data columns (total 14 columns):
 #   Column                Dtype
---  ------                -----
 0   authorized_flag       int64
 1   card_id               object
 2   city_id               int64
 3   category_1            int64
 4   installments          int64
 5   category_3            int64
 6   merchant_category_id  int64
 7   merchant_id           object
 8   month_lag             int64
 9   purchase_amount       float64
 10  purchase_date         object
 11  category_2            int64
 12  state_id              int64
 13  subsector_id          int64
dtypes: float64(1), int64(10), object(3)
memory usage: 3.0+ GB
Old_transactions
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1963031 entries, 0 to 1963030
Data columns (total 14 columns):
 #   Column                Dtype
---  ------                -----
 0   authorized_flag       int64
 1   card_id               object
 2   city_id               int64
 3   category_1            int64
 4   installments          int64
 5   category_3            int64
 6   merchant_category_id  int64
 7   merchant_id           object
 8   month_lag             int64
 9   purchase_amount       float64
 10  purchase_date         object
 11  category_2            int64
 12  state_id              int64
 13  subsector_id          int64
dtypes: float64(1), int64(10), object(3)
memory usage: 209.7+ MB
New_transactions
 None

In [148]:
old_transactions['dataset']='old'

In [149]:
old_transactions

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,dataset
0,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1,16,37,old
1,1,C_ID_4e6213e9bc,88,0,0,1,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1,16,16,old
2,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1,16,37,old
3,1,C_ID_4e6213e9bc,88,0,0,1,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1,16,34,old
4,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1,16,37,old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29112356,1,C_ID_2863d2fa95,-1,1,1,2,360,M_ID_edd92b6720,-1,-0.632706,2017-01-20 08:52:04,0,-1,34,old
29112357,1,C_ID_2863d2fa95,-1,1,1,2,360,M_ID_edd92b6720,0,-0.632706,2017-02-20 04:40:50,0,-1,34,old
29112358,1,C_ID_5c240d6e3c,3,0,0,1,278,M_ID_9cdcfe8673,0,-0.657740,2017-12-26 18:37:51,1,16,37,old
29112359,1,C_ID_5c240d6e3c,331,0,0,1,514,M_ID_1a75f94f92,-1,0.770620,2017-11-24 14:18:15,1,16,9,old
29112360,1,C_ID_5c240d6e3c,331,0,0,1,514,M_ID_1a75f94f92,-2,1.134411,2017-10-26 14:09:40,1,16,9,old

In [150]:
new_transactions['dataset']='new'

In [151]:
new_transactions

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,dataset
0,1,C_ID_415bb3a509,107,0,1,2,307,M_ID_b0c793002c,1,-0.557574,2018-03-11 14:57:36,1,9,19,new
1,1,C_ID_415bb3a509,140,0,1,2,307,M_ID_88920c89e8,1,-0.569580,2018-03-19 18:53:37,1,9,19,new
2,1,C_ID_415bb3a509,330,0,1,2,507,M_ID_ad5237ef6b,2,-0.551037,2018-04-26 14:08:44,1,9,14,new
3,1,C_ID_415bb3a509,-1,1,1,2,661,M_ID_9e84cda3b1,1,-0.671925,2018-03-07 09:43:21,0,-1,8,new
4,1,C_ID_ef55cf8d4b,-1,1,1,2,166,M_ID_3c86fa3831,1,-0.659904,2018-03-22 21:07:53,0,-1,29,new
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1963026,1,C_ID_1320dee851,142,0,0,1,309,M_ID_7754b67f3b,2,-0.701828,2018-04-06 14:36:52,3,19,21,new
1963027,1,C_ID_f112aa3381,158,0,0,1,560,M_ID_da063195b7,2,-0.694390,2018-03-07 13:19:18,1,15,34,new
1963028,1,C_ID_bd97b86450,69,0,1,2,278,M_ID_9a9ccb6544,1,-0.621031,2018-03-05 12:04:56,1,9,37,new
1963029,1,C_ID_c0513fd84f,130,0,0,1,367,M_ID_40c28d596f,1,-0.656749,2018-03-09 14:47:05,3,7,16,new
1963030,1,C_ID_a935410f8e,19,0,0,1,278,M_ID_d855771cd9,2,-0.739395,2018-04-11 07:59:46,1,9,37,new

In [152]:
transactions = pd.concat([old_transactions, new_transactions], axis=0, ignore_index=True)

In [153]:
transactions

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,dataset
0,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1,16,37,old
1,1,C_ID_4e6213e9bc,88,0,0,1,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1,16,16,old
2,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1,16,37,old
3,1,C_ID_4e6213e9bc,88,0,0,1,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1,16,34,old
4,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1,16,37,old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31075387,1,C_ID_1320dee851,142,0,0,1,309,M_ID_7754b67f3b,2,-0.701828,2018-04-06 14:36:52,3,19,21,new
31075388,1,C_ID_f112aa3381,158,0,0,1,560,M_ID_da063195b7,2,-0.694390,2018-03-07 13:19:18,1,15,34,new
31075389,1,C_ID_bd97b86450,69,0,1,2,278,M_ID_9a9ccb6544,1,-0.621031,2018-03-05 12:04:56,1,9,37,new
31075390,1,C_ID_c0513fd84f,130,0,0,1,367,M_ID_40c28d596f,1,-0.656749,2018-03-09 14:47:05,3,7,16,new
31075391,1,C_ID_a935410f8e,19,0,0,1,278,M_ID_d855771cd9,2,-0.739395,2018-04-11 07:59:46,1,9,37,new

In [154]:
#Convert to datetime
transactions['purchase_date'] = pd.to_datetime(transactions['purchase_date'])

#Extract features
transactions['purchase_year'] = transactions['purchase_date'].dt.year
transactions['purchase_month'] = transactions['purchase_date'].dt.month
transactions['purchase_day'] = transactions['purchase_date'].dt.day
transactions['purchase_weekday'] = transactions['purchase_date'].dt.weekday

In [155]:
transactions

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,dataset,purchase_year,purchase_month,purchase_day,purchase_weekday
0,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1,16,37,old,2017,6,25,6
1,1,C_ID_4e6213e9bc,88,0,0,1,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1,16,16,old,2017,7,15,5
2,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1,16,37,old,2017,8,9,2
3,1,C_ID_4e6213e9bc,88,0,0,1,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1,16,34,old,2017,9,2,5
4,1,C_ID_4e6213e9bc,88,0,0,1,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1,16,37,old,2017,3,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31075387,1,C_ID_1320dee851,142,0,0,1,309,M_ID_7754b67f3b,2,-0.701828,2018-04-06 14:36:52,3,19,21,new,2018,4,6,4
31075388,1,C_ID_f112aa3381,158,0,0,1,560,M_ID_da063195b7,2,-0.694390,2018-03-07 13:19:18,1,15,34,new,2018,3,7,2
31075389,1,C_ID_bd97b86450,69,0,1,2,278,M_ID_9a9ccb6544,1,-0.621031,2018-03-05 12:04:56,1,9,37,new,2018,3,5,0
31075390,1,C_ID_c0513fd84f,130,0,0,1,367,M_ID_40c28d596f,1,-0.656749,2018-03-09 14:47:05,3,7,16,new,2018,3,9,4
31075391,1,C_ID_a935410f8e,19,0,0,1,278,M_ID_d855771cd9,2,-0.739395,2018-04-11 07:59:46,1,9,37,new,2018,4,11,2

In [156]:
transactions=transactions.drop('merchant_id',axis=1)

In [157]:
transactions

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,dataset,purchase_year,purchase_month,purchase_day,purchase_weekday
0,1,C_ID_4e6213e9bc,88,0,0,1,80,-8,-0.703331,2017-06-25 15:33:07,1,16,37,old,2017,6,25,6
1,1,C_ID_4e6213e9bc,88,0,0,1,367,-7,-0.733128,2017-07-15 12:10:45,1,16,16,old,2017,7,15,5
2,1,C_ID_4e6213e9bc,88,0,0,1,80,-6,-0.720386,2017-08-09 22:04:29,1,16,37,old,2017,8,9,2
3,1,C_ID_4e6213e9bc,88,0,0,1,560,-5,-0.735352,2017-09-02 10:06:26,1,16,34,old,2017,9,2,5
4,1,C_ID_4e6213e9bc,88,0,0,1,80,-11,-0.722865,2017-03-10 01:14:19,1,16,37,old,2017,3,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31075387,1,C_ID_1320dee851,142,0,0,1,309,2,-0.701828,2018-04-06 14:36:52,3,19,21,new,2018,4,6,4
31075388,1,C_ID_f112aa3381,158,0,0,1,560,2,-0.694390,2018-03-07 13:19:18,1,15,34,new,2018,3,7,2
31075389,1,C_ID_bd97b86450,69,0,1,2,278,1,-0.621031,2018-03-05 12:04:56,1,9,37,new,2018,3,5,0
31075390,1,C_ID_c0513fd84f,130,0,0,1,367,1,-0.656749,2018-03-09 14:47:05,3,7,16,new,2018,3,9,4
31075391,1,C_ID_a935410f8e,19,0,0,1,278,2,-0.739395,2018-04-11 07:59:46,1,9,37,new,2018,4,11,2

In [158]:
transactions=transactions.drop('city_id',axis=1)

In [159]:
transactions

,authorized_flag,card_id,category_1,installments,category_3,merchant_category_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,dataset,purchase_year,purchase_month,purchase_day,purchase_weekday
0,1,C_ID_4e6213e9bc,0,0,1,80,-8,-0.703331,2017-06-25 15:33:07,1,16,37,old,2017,6,25,6
1,1,C_ID_4e6213e9bc,0,0,1,367,-7,-0.733128,2017-07-15 12:10:45,1,16,16,old,2017,7,15,5
2,1,C_ID_4e6213e9bc,0,0,1,80,-6,-0.720386,2017-08-09 22:04:29,1,16,37,old,2017,8,9,2
3,1,C_ID_4e6213e9bc,0,0,1,560,-5,-0.735352,2017-09-02 10:06:26,1,16,34,old,2017,9,2,5
4,1,C_ID_4e6213e9bc,0,0,1,80,-11,-0.722865,2017-03-10 01:14:19,1,16,37,old,2017,3,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31075387,1,C_ID_1320dee851,0,0,1,309,2,-0.701828,2018-04-06 14:36:52,3,19,21,new,2018,4,6,4
31075388,1,C_ID_f112aa3381,0,0,1,560,2,-0.694390,2018-03-07 13:19:18,1,15,34,new,2018,3,7,2
31075389,1,C_ID_bd97b86450,0,1,2,278,1,-0.621031,2018-03-05 12:04:56,1,9,37,new,2018,3,5,0
31075390,1,C_ID_c0513fd84f,0,0,1,367,1,-0.656749,2018-03-09 14:47:05,3,7,16,new,2018,3,9,4
31075391,1,C_ID_a935410f8e,0,0,1,278,2,-0.739395,2018-04-11 07:59:46,1,9,37,new,2018,4,11,2

In [160]:
transactions=transactions.drop('state_id',axis=1)

In [161]:
transactions

,authorized_flag,card_id,category_1,installments,category_3,merchant_category_id,month_lag,purchase_amount,purchase_date,category_2,subsector_id,dataset,purchase_year,purchase_month,purchase_day,purchase_weekday
0,1,C_ID_4e6213e9bc,0,0,1,80,-8,-0.703331,2017-06-25 15:33:07,1,37,old,2017,6,25,6
1,1,C_ID_4e6213e9bc,0,0,1,367,-7,-0.733128,2017-07-15 12:10:45,1,16,old,2017,7,15,5
2,1,C_ID_4e6213e9bc,0,0,1,80,-6,-0.720386,2017-08-09 22:04:29,1,37,old,2017,8,9,2
3,1,C_ID_4e6213e9bc,0,0,1,560,-5,-0.735352,2017-09-02 10:06:26,1,34,old,2017,9,2,5
4,1,C_ID_4e6213e9bc,0,0,1,80,-11,-0.722865,2017-03-10 01:14:19,1,37,old,2017,3,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31075387,1,C_ID_1320dee851,0,0,1,309,2,-0.701828,2018-04-06 14:36:52,3,21,new,2018,4,6,4
31075388,1,C_ID_f112aa3381,0,0,1,560,2,-0.694390,2018-03-07 13:19:18,1,34,new,2018,3,7,2
31075389,1,C_ID_bd97b86450,0,1,2,278,1,-0.621031,2018-03-05 12:04:56,1,37,new,2018,3,5,0
31075390,1,C_ID_c0513fd84f,0,0,1,367,1,-0.656749,2018-03-09 14:47:05,3,16,new,2018,3,9,4
31075391,1,C_ID_a935410f8e,0,0,1,278,2,-0.739395,2018-04-11 07:59:46,1,37,new,2018,4,11,2

In [162]:
transactions['card_id'] = transactions['card_id'].astype(str)
print(transactions['card_id'].dtype)  #Should now be 'string' or 'object'
print(transactions['card_id'].head())  #Check first few values

object
0    C_ID_4e6213e9bc
1    C_ID_4e6213e9bc
2    C_ID_4e6213e9bc
3    C_ID_4e6213e9bc
4    C_ID_4e6213e9bc
Name: card_id, dtype: object

In [163]:
transactions.drop('dataset',axis=1,inplace=True)

In [164]:
transactions

,authorized_flag,card_id,category_1,installments,category_3,merchant_category_id,month_lag,purchase_amount,purchase_date,category_2,subsector_id,purchase_year,purchase_month,purchase_day,purchase_weekday
0,1,C_ID_4e6213e9bc,0,0,1,80,-8,-0.703331,2017-06-25 15:33:07,1,37,2017,6,25,6
1,1,C_ID_4e6213e9bc,0,0,1,367,-7,-0.733128,2017-07-15 12:10:45,1,16,2017,7,15,5
2,1,C_ID_4e6213e9bc,0,0,1,80,-6,-0.720386,2017-08-09 22:04:29,1,37,2017,8,9,2
3,1,C_ID_4e6213e9bc,0,0,1,560,-5,-0.735352,2017-09-02 10:06:26,1,34,2017,9,2,5
4,1,C_ID_4e6213e9bc,0,0,1,80,-11,-0.722865,2017-03-10 01:14:19,1,37,2017,3,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31075387,1,C_ID_1320dee851,0,0,1,309,2,-0.701828,2018-04-06 14:36:52,3,21,2018,4,6,4
31075388,1,C_ID_f112aa3381,0,0,1,560,2,-0.694390,2018-03-07 13:19:18,1,34,2018,3,7,2
31075389,1,C_ID_bd97b86450,0,1,2,278,1,-0.621031,2018-03-05 12:04:56,1,37,2018,3,5,0
31075390,1,C_ID_c0513fd84f,0,0,1,367,1,-0.656749,2018-03-09 14:47:05,3,16,2018,3,9,4
31075391,1,C_ID_a935410f8e,0,0,1,278,2,-0.739395,2018-04-11 07:59:46,1,37,2018,4,11,2

In [165]:
agg_features = transactions.groupby('card_id').agg({
    'purchase_amount': ['sum', 'mean', 'max', 'min', 'std'],  # Spending behavior
    'installments': ['sum', 'mean'],  # Installment usage
    'authorized_flag': ['sum'],  # Total authorized transactions
    'category_1': ['sum'],  # Transactions in category_1
    'category_2': ['nunique'],  # Unique category_2 values
    'category_3': ['nunique'],  # Unique category_3 values
    'merchant_category_id': ['nunique'],  # Unique merchant categories
    'subsector_id': ['nunique'],  # Unique economic subsectors
    'month_lag': ['min', 'max'],  # Recency of transactions
}).reset_index()

In [166]:
agg_features

                card_id purchase_amount                                \
                                    sum      mean       max       min
0       C_ID_00007093c1      -78.173565 -0.517706  1.507069 -0.728876
1       C_ID_0001238066      -87.297257 -0.585888  0.768095 -0.740897
2       C_ID_0001506ef0      -36.049233 -0.530136  1.493545 -0.740491
3       C_ID_0001793786      -37.015633 -0.149861  4.554145 -0.745405
4       C_ID_000183fdda      -75.428717 -0.486637  2.764788 -0.737892
...                 ...             ...       ...       ...       ...
325535  C_ID_ffff1d9928       -9.938024 -0.621127  0.004418 -0.746893
325536  C_ID_ffff579d3a      -80.957030 -0.703974 -0.491457 -0.739244
325537  C_ID_ffff756266       -5.127842 -0.205114  1.206403 -0.746156
325538  C_ID_ffff828181     -125.063404 -0.631633  0.109528 -0.745405
325539  C_ID_fffffd5772      -60.160744 -0.691503 -0.311139 -0.745405

                 installments           authorized_flag category_1 category_2  \
             std          sum      mean             sum        sum    nunique
0       0.296638          194  1.284768             116         28          4
1       0.186974          240  1.610738             146          4          3
2       0.466421            1  0.014706              64          0          2
3       0.850432            5  0.020243             220          2          5
4       0.508951          280  1.806452             148          4          5
...          ...          ...       ...             ...        ...        ...
325535  0.216340           27  1.687500              13          3          3
325536  0.042034            3  0.026087             100          0          2
325537  0.520700           79  3.160000              15          3          2
325538  0.108552          238  1.202020             174         11          5
325539  0.075315           90  1.034483              78         33          3

       category_3 merchant_category_id subsector_id month_lag
          nunique              nunique      nunique       min max
0               2                   19           13       -12   2
1               3                   35           19        -5   2
2               2                   20           12       -13   1
3               2                   57           25        -9   2
4               3                   38           21        -6   2
...           ...                  ...          ...       ...  ..
325535          3                    9            8        -4   2
325536          2                   28           15        -6   1
325537          3                   14           10       -13   2
325538          3                   45           24       -13   2
325539          3                   15           10        -6   1

[325540 rows x 16 columns]

In [167]:
agg_features.rename(columns={'authorized_flag':'num_authorized_transactions'},inplace=True)
agg_features.rename(columns={'installments':'num_installment_transactions'},inplace=True)

In [168]:
agg_features

                card_id purchase_amount                                \
                                    sum      mean       max       min
0       C_ID_00007093c1      -78.173565 -0.517706  1.507069 -0.728876
1       C_ID_0001238066      -87.297257 -0.585888  0.768095 -0.740897
2       C_ID_0001506ef0      -36.049233 -0.530136  1.493545 -0.740491
3       C_ID_0001793786      -37.015633 -0.149861  4.554145 -0.745405
4       C_ID_000183fdda      -75.428717 -0.486637  2.764788 -0.737892
...                 ...             ...       ...       ...       ...
325535  C_ID_ffff1d9928       -9.938024 -0.621127  0.004418 -0.746893
325536  C_ID_ffff579d3a      -80.957030 -0.703974 -0.491457 -0.739244
325537  C_ID_ffff756266       -5.127842 -0.205114  1.206403 -0.746156
325538  C_ID_ffff828181     -125.063404 -0.631633  0.109528 -0.745405
325539  C_ID_fffffd5772      -60.160744 -0.691503 -0.311139 -0.745405

                 num_installment_transactions            \
             std                          sum      mean
0       0.296638                          194  1.284768
1       0.186974                          240  1.610738
2       0.466421                            1  0.014706
3       0.850432                            5  0.020243
4       0.508951                          280  1.806452
...          ...                          ...       ...
325535  0.216340                           27  1.687500
325536  0.042034                            3  0.026087
325537  0.520700                           79  3.160000
325538  0.108552                          238  1.202020
325539  0.075315                           90  1.034483

       num_authorized_transactions category_1 category_2 category_3  \
                               sum        sum    nunique    nunique
0                              116         28          4          2
1                              146          4          3          3
2                               64          0          2          2
3                              220          2          5          2
4                              148          4          5          3
...                            ...        ...        ...        ...
325535                          13          3          3          3
325536                         100          0          2          2
325537                          15          3          2          3
325538                         174         11          5          3
325539                          78         33          3          3

       merchant_category_id subsector_id month_lag
                    nunique      nunique       min max
0                        19           13       -12   2
1                        35           19        -5   2
2                        20           12       -13   1
3                        57           25        -9   2
4                        38           21        -6   2
...                     ...          ...       ...  ..
325535                    9            8        -4   2
325536                   28           15        -6   1
325537                   14           10       -13   2
325538                   45           24       -13   2
325539                   15           10        -6   1

[325540 rows x 16 columns]

In [169]:
# Flatten column names if they are multi-indexed after aggregation
agg_features.columns = ['_'.join(col) if isinstance(col, tuple) else col for col in agg_features.columns]

# Reset index to make 'card_id' a column
agg_features.reset_index(inplace=True)
agg_features.rename(columns={'card_id_':'card_id'},inplace=True)
agg_features

,index,card_id,purchase_amount_sum,purchase_amount_mean,purchase_amount_max,purchase_amount_min,purchase_amount_std,num_installment_transactions_sum,num_installment_transactions_mean,num_authorized_transactions_sum,category_1_sum,category_2_nunique,category_3_nunique,merchant_category_id_nunique,subsector_id_nunique,month_lag_min,month_lag_max
0,0,C_ID_00007093c1,-78.173565,-0.517706,1.507069,-0.728876,0.296638,194,1.284768,116,28,4,2,19,13,-12,2
1,1,C_ID_0001238066,-87.297257,-0.585888,0.768095,-0.740897,0.186974,240,1.610738,146,4,3,3,35,19,-5,2
2,2,C_ID_0001506ef0,-36.049233,-0.530136,1.493545,-0.740491,0.466421,1,0.014706,64,0,2,2,20,12,-13,1
3,3,C_ID_0001793786,-37.015633,-0.149861,4.554145,-0.745405,0.850432,5,0.020243,220,2,5,2,57,25,-9,2
4,4,C_ID_000183fdda,-75.428717,-0.486637,2.764788,-0.737892,0.508951,280,1.806452,148,4,5,3,38,21,-6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325535,325535,C_ID_ffff1d9928,-9.938024,-0.621127,0.004418,-0.746893,0.216340,27,1.687500,13,3,3,3,9,8,-4,2
325536,325536,C_ID_ffff579d3a,-80.957030,-0.703974,-0.491457,-0.739244,0.042034,3,0.026087,100,0,2,2,28,15,-6,1
325537,325537,C_ID_ffff756266,-5.127842,-0.205114,1.206403,-0.746156,0.520700,79,3.160000,15,3,2,3,14,10,-13,2
325538,325538,C_ID_ffff828181,-125.063404,-0.631633,0.109528,-0.745405,0.108552,238,1.202020,174,11,5,3,45,24,-13,2
325539,325539,C_ID_fffffd5772,-60.160744,-0.691503,-0.311139,-0.745405,0.075315,90,1.034483,78,33,3,3,15,10,-6,1

In [170]:
import pandas as pd
from datetime import datetime

# Convert first_active_month to datetime
train['first_active_month'] = pd.to_datetime(train['first_active_month'])

# Compute account age in months
current_date = datetime.today()
train['account_age_months'] = (current_date.year - train['first_active_month'].dt.year) * 12 + \
                              (current_date.month - train['first_active_month'].dt.month)

# Drop first_active_month (optional)
train.drop(columns=['first_active_month'], inplace=True)

In [171]:
train

,card_id,feature_1,feature_2,feature_3,target,account_age_months
0,C_ID_92a2005557,5,2,1,-0.820283,92
1,C_ID_3d0044924f,4,1,0,0.392913,97
2,C_ID_d639edf6cd,2,2,0,0.688056,102
3,C_ID_186d6a6901,4,3,0,0.142495,89
4,C_ID_cdbd2c0db2,1,3,0,-0.159749,87
...,...,...,...,...,...,...
201912,C_ID_963962de2c,3,2,1,-2.740821,89
201913,C_ID_1314773c0b,3,1,1,0.312917,112
201914,C_ID_7666735b3d,4,3,0,0.093494,90
201915,C_ID_73f5a0efd0,3,2,1,-4.676589,103
201916,C_ID_92c9984c58,3,1,1,-1.859413,91

In [172]:
train = train.merge(agg_features, on='card_id', how='left')
train.fillna(0, inplace=True)

In [173]:
from sklearn.model_selection import train_test_split
X=train.drop(columns=['card_id','target'])
Y=train['target']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

print(f"Training Set Size: {X_train.shape}")
print(f"Testing Set Size: {X_test.shape}")

Training Set Size: (161533, 20)
Testing Set Size: (40384, 20)

In [174]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
model = XGBRegressor(
    n_estimators=500,     # Number of trees
    learning_rate=0.05,   # Step size per iteration
    max_depth=6,          # Depth of trees
    random_state=42
)

model.fit(X_train, y_train)  # Train the model

#Make Predictions on Test Data
y_pred = model.predict(X_test)

#Evaluate Model Performance
rmse = mean_squared_error(y_test, y_pred, squared=False)
mae = mean_absolute_error(y_test, y_pred)

print(f'RMSE: {rmse:.4f}')
print(f'MAE: {mae:.4f}')

RMSE: 3.7721
MAE: 1.6483

/opt/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [175]:
print(train['target'].std())

3.850499995486052